/* You can add global styles to this file, and also import other style files */
@import "./assets/override-scss/buttons";
@import "./assets/override-scss/input";
@import "./assets/override-scss/dropdown";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

body,
app-root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
